* {
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: #aaa;
  margin: 0;
  font-family: 'Courier New', monospace,'STHeiti' ,'Microsoft JhengHei';
  display: grid;
  place-items: center;
}

#myCanvas{
  z-index: 0;
  position: relative;
  top: 40px;
}

.btn-input{
  display: flex;
  align-items: center;
  background-color: #7ceece;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 10px;
  color: #335;
  transition: color .2s ease;
}

.btn-input #text{
  padding-top:3px;
}

.btn-input:hover{
  color: #777;
  transition: color .2s ease;
}

.btn-input:active{
  background-color: #5bad96;
  color: #777;
  transition: color .2s ease;
}

#img-icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

nav{
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(54,54,54,.8);
  height: 60px;
  padding: 10px;
}

#wrap-color{
  display: flex;
  align-items: center;
}

.color{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px solid #fff;
}

.color-code{
  margin-left: 5px;
  font-size: 20px;
  color: #ccc;
}

img.copy{
  width: 25px;
  height: 25px;
}

#copy{
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  margin-left: 5px;
  transition: background-color .1s ease;
}

#copy:hover{
  background-color: rgba(255,255,255,.4);
  transition: background-color .1s ease;
}
.wrap-toggler{
  display: flex;
  align-items: center;
}
.wrap-toggler span[class]{
  margin-left: 3px;
}
.coord {
  position: absolute;
}

.coord .delete{
  position: relative;
  color: red;
  display: none;
  cursor: pointer;
}

.coord:hover > .delete{
  display: inline;
}

#credits{
  position: fixed;
  bottom: 10px;
  font-size: 5px;
}
#credits *{
  color: #000;
}
@media only screen and (max-width: 500px){
  #wrap-reset, .wrap-toggler{
    display: none;
  }
}