body{
  background-color: #aaa;
  margin: 0;
  font-family: 'STHeiti' ,'Microsoft JhengHei' ,sans-serif, monospace;
}

#myCanvas{
    position: fixed;
    top: 60px;
    z-index: 0;
}

.btn-input{
  background-color: #7ceece;
  padding: 7px;
  margin-bottom: 5px;
  border-radius: 10px;
  color: #335;
  transition: color .1s ease;
}

.btn-input:hover{
  color: #777;
  transition: color .1s ease;
}


nav{
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(54,54,54,.8);
  height: 60px;
  box-sizing: border-box;
  padding: 10px;
}

#wrap-color{
  display: flex;
  align-items: center;
}

#color{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px solid #fff;
}

.coord {
  position: absolute;
}

.coord .delete{
  position: relative;
  color: red;
  display: none;
  cursor: pointer;
}

.coord:hover > .delete{
  display: inline;
}